In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('maryland_possible_locations_geo.csv')

In [3]:
df.shape

(34, 11)

In [4]:
df.head()

,County,District,Power Plant,Owner,"Description (note: current gas sites may not be eligiblefor new gas if there is no GHG reduction, but could become nuclear sites)",Latitude,Longitude,GEOID,STATE,COUNTY,TRACT
0,ALLEGHENY,1C,Warrior Run,AES Warrior Run Ltd. Partnership,"180 MW, coal fired steam boiler, closed June o...",39.597398,-78.744465,24001000200,24,1,200
1,ALLEGHENY,1A,Luke Mill,New Page Corp,"~60 MW, 2 coal fired steam boilers, Closed 2019",39.474072,-79.055827,24001002200,24,1,2200
2,ANNE ARUNDEL,31,Brandon Shores,Talen Energy (Raven Power Holdings LLC),"1,273 MW, 2 units, coal and steam boilers, sch...",39.179750,-76.536705,24003730102,24,3,730102
3,ANNE ARUNDEL,31,Herbert Wagner,Talen Energy (Raven Power Holdings LLC),"975.9 MW total (Unit 1 – Gas, Unit 2 - coal 13...",39.178669,-76.526322,24003730102,24,3,730102
4,BALTIMORE CITY,7A,C.P. Crane,Avenue Capital Group,"400 MW, coal; closed 2018, demolished 2022, un...",39.325291,-76.366534,24005451803,24,5,451803

In [ ]:
# Only convert non-null GEOID values, leave NaNs alone
df['GEOID'] = df['GEOID'].apply(
    lambda x: str(int(x)).zfill(11) if pd.notnull(x) else np.nan
)

In [43]:
df['Description'] = df['Description (note: current gas sites may not be eligiblefor new gas if there is no GHG reduction, but could become nuclear sites)']

In [44]:
df_proposed = df[['Power Plant','Owner','Description','Latitude','Longitude','GEOID']]

In [46]:
df_proposed.head()

,Power Plant,Owner,Description,Latitude,Longitude,GEOID
0,Warrior Run,AES Warrior Run Ltd. Partnership,"180 MW, coal fired steam boiler, closed June o...",39.597398,-78.744465,24001000200
1,Luke Mill,New Page Corp,"~60 MW, 2 coal fired steam boilers, Closed 2019",39.474072,-79.055827,24001002200
2,Brandon Shores,Talen Energy (Raven Power Holdings LLC),"1,273 MW, 2 units, coal and steam boilers, sch...",39.179750,-76.536705,24003730102
3,Herbert Wagner,Talen Energy (Raven Power Holdings LLC),"975.9 MW total (Unit 1 – Gas, Unit 2 - coal 13...",39.178669,-76.526322,24003730102
4,C.P. Crane,Avenue Capital Group,"400 MW, coal; closed 2018, demolished 2022, un...",39.325291,-76.366534,24005451803

In [47]:
df_eji = pd.read_csv('plants_merged_eji.csv')

/var/folders/mb/f5zh4qyd6sbf171lrlnmff040000gn/T/ipykernel_37716/1823115330.py:1: DtypeWarning: Columns (168,179,180,181) have mixed types. Specify dtype option on import or set low_memory=False.
  df_eji = pd.read_csv('plants_merged_eji.csv')

In [48]:
df_eji.head()

,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,GEOID_2020,COUNTY_x,StateDesc,STATEABBR,LOCATION,...,latitude,STATE,COUNTY_y,TRACT,contains_energy_source,Technology_Category,Category_Number,fossil_fuels,renewables,energy_category_numeric
0,10.0,1.0,40100.0,140000US10001040100,1.000104e+10,1.000104e+10,Kent County,Delaware,DE,Census Tract 401; Kent County; Delaware,...,39.185680,10.0,1.0,40100.0,1,Solar,1,0,1,1.0
1,10.0,1.0,40201.0,140000US10001040201,1.000104e+10,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.01; Kent County; Delaware,...,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0.0
2,10.0,1.0,40203.0,140000US10001040203,1.000104e+10,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.03; Kent County; Delaware,...,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0.0
3,10.0,1.0,40204.0,140000US10001040204,1.000104e+10,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.04; Kent County; Delaware,...,39.279702,10.0,1.0,40204.0,1,Solar,1,0,1,1.0
4,10.0,1.0,40204.0,140000US10001040204,1.000104e+10,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.04; Kent County; Delaware,...,39.279179,10.0,1.0,40204.0,1,Natural Gas,2,1,0,2.0

In [49]:
import numpy as np

In [50]:
# Only convert non-null GEOID values, leave NaNs alone
df_eji['GEOID'] = df_eji['GEOID'].apply(
    lambda x: str(int(x)).zfill(11) if pd.notnull(x) else np.nan
)

In [52]:
df_eji.head()

,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,GEOID_2020,COUNTY_x,StateDesc,STATEABBR,LOCATION,...,latitude,STATE,COUNTY_y,TRACT,contains_energy_source,Technology_Category,Category_Number,fossil_fuels,renewables,energy_category_numeric
0,10.0,1.0,40100.0,140000US10001040100,10001040100,1.000104e+10,Kent County,Delaware,DE,Census Tract 401; Kent County; Delaware,...,39.185680,10.0,1.0,40100.0,1,Solar,1,0,1,1.0
1,10.0,1.0,40201.0,140000US10001040201,10001040201,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.01; Kent County; Delaware,...,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0.0
2,10.0,1.0,40203.0,140000US10001040203,10001040203,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.03; Kent County; Delaware,...,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0.0
3,10.0,1.0,40204.0,140000US10001040204,10001040204,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.04; Kent County; Delaware,...,39.279702,10.0,1.0,40204.0,1,Solar,1,0,1,1.0
4,10.0,1.0,40204.0,140000US10001040204,10001040204,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.04; Kent County; Delaware,...,39.279179,10.0,1.0,40204.0,1,Natural Gas,2,1,0,2.0

In [56]:
df_eji.shape

(90173, 195)

In [53]:
df_merge = df_eji.merge(df_proposed, on='GEOID', how='left')

In [57]:
df_merge.shape

(90181, 200)

In [58]:
centroids = pd.read_csv('geocorr.csv', encoding='ISO-8859-1')

/var/folders/mb/f5zh4qyd6sbf171lrlnmff040000gn/T/ipykernel_37716/3559749476.py:1: DtypeWarning: Columns (0,1,2,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  centroids = pd.read_csv('geocorr.csv', encoding='ISO-8859-1')

In [59]:
centroids

,county,tract,state,stab,CountyName,pop20,IntPtLat,IntPtLon,afact
0,County code,Tract,State code,State abbr.,County name,Total population (2020 Census),Weighted centroid latitude,Weighted centroid west longitude,tract-to-state allocation factor
1,01001,0201.00,01,AL,Autauga AL,1775,32.476823,-86.486599,1
2,01001,0202.00,01,AL,Autauga AL,2055,32.471897,-86.472591,1
3,01001,0203.00,01,AL,Autauga AL,3216,32.474583,-86.459254,1
4,01001,0204.00,01,AL,Autauga AL,4246,32.468656,-86.442995,1
...,...,...,...,...,...,...,...,...,...
84777,72153,7505.01,72,PR,Yauco Municipio PR,3968,18.030796,-66.868112,1
84778,72153,7505.02,72,PR,Yauco Municipio PR,1845,18.025145,-66.860927,1
84779,72153,7505.03,72,PR,Yauco Municipio PR,2155,18.025852,-66.87391,1
84780,72153,7506.01,72,PR,Yauco Municipio PR,4368,18.018704,-66.84394,1
84781,72153,7506.02,72,PR,Yauco Municipio PR,2587,18.006421,-66.860885,1

In [12]:
centroids = centroids.iloc[1:]

In [13]:
centroids

,county,tract,state,stab,CountyName,pop20,IntPtLat,IntPtLon,afact
1,01001,0201.00,01,AL,Autauga AL,1775,32.476823,-86.486599,1
2,01001,0202.00,01,AL,Autauga AL,2055,32.471897,-86.472591,1
3,01001,0203.00,01,AL,Autauga AL,3216,32.474583,-86.459254,1
4,01001,0204.00,01,AL,Autauga AL,4246,32.468656,-86.442995,1
5,01001,0205.01,01,AL,Autauga AL,4322,32.451532,-86.424422,1
...,...,...,...,...,...,...,...,...,...
84777,72153,7505.01,72,PR,Yauco Municipio PR,3968,18.030796,-66.868112,1
84778,72153,7505.02,72,PR,Yauco Municipio PR,1845,18.025145,-66.860927,1
84779,72153,7505.03,72,PR,Yauco Municipio PR,2155,18.025852,-66.87391,1
84780,72153,7506.01,72,PR,Yauco Municipio PR,4368,18.018704,-66.84394,1
84781,72153,7506.02,72,PR,Yauco Municipio PR,2587,18.006421,-66.860885,1

In [14]:
def format_tract_to_6_digits(x):
    x = str(x)  # Convert to string to handle both integer and decimal cases
    if '.' in x:  # Check if there's a decimal point
        base, decimal = x.split('.')  # Split into base and decimal parts
        # Ensure the base is 4 digits and the decimal is 2 digits
        return f"{int(base):04d}{decimal[:2].ljust(2, '0')}"  # Ensure 6 digits
    else:
        # For whole number tracts (e.g., 7506), pad to 6 digits
        return f"{int(x):06d}"  # Pad to 6 digits

# Apply this function to your tract column
centroids['formatted_tract'] = centroids['tract'].apply(format_tract_to_6_digits)

/var/folders/mb/f5zh4qyd6sbf171lrlnmff040000gn/T/ipykernel_37716/4069857016.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  centroids['formatted_tract'] = centroids['tract'].apply(format_tract_to_6_digits)

In [15]:
centroids

,county,tract,state,stab,CountyName,pop20,IntPtLat,IntPtLon,afact,formatted_tract
1,01001,0201.00,01,AL,Autauga AL,1775,32.476823,-86.486599,1,020100
2,01001,0202.00,01,AL,Autauga AL,2055,32.471897,-86.472591,1,020200
3,01001,0203.00,01,AL,Autauga AL,3216,32.474583,-86.459254,1,020300
4,01001,0204.00,01,AL,Autauga AL,4246,32.468656,-86.442995,1,020400
5,01001,0205.01,01,AL,Autauga AL,4322,32.451532,-86.424422,1,020501
...,...,...,...,...,...,...,...,...,...,...
84777,72153,7505.01,72,PR,Yauco Municipio PR,3968,18.030796,-66.868112,1,750501
84778,72153,7505.02,72,PR,Yauco Municipio PR,1845,18.025145,-66.860927,1,750502
84779,72153,7505.03,72,PR,Yauco Municipio PR,2155,18.025852,-66.87391,1,750503
84780,72153,7506.01,72,PR,Yauco Municipio PR,4368,18.018704,-66.84394,1,750601
84781,72153,7506.02,72,PR,Yauco Municipio PR,2587,18.006421,-66.860885,1,750602

In [16]:
# Remove the first two digits from the county code and pad to 3 digits if necessary
centroids['formatted_county'] = centroids['county'].astype(str).str[2:].str.zfill(3)

/var/folders/mb/f5zh4qyd6sbf171lrlnmff040000gn/T/ipykernel_37716/3670846890.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  centroids['formatted_county'] = centroids['county'].astype(str).str[2:].str.zfill(3)

In [17]:
centroids

,county,tract,state,stab,CountyName,pop20,IntPtLat,IntPtLon,afact,formatted_tract,formatted_county
1,01001,0201.00,01,AL,Autauga AL,1775,32.476823,-86.486599,1,020100,001
2,01001,0202.00,01,AL,Autauga AL,2055,32.471897,-86.472591,1,020200,001
3,01001,0203.00,01,AL,Autauga AL,3216,32.474583,-86.459254,1,020300,001
4,01001,0204.00,01,AL,Autauga AL,4246,32.468656,-86.442995,1,020400,001
5,01001,0205.01,01,AL,Autauga AL,4322,32.451532,-86.424422,1,020501,001
...,...,...,...,...,...,...,...,...,...,...,...
84777,72153,7505.01,72,PR,Yauco Municipio PR,3968,18.030796,-66.868112,1,750501,153
84778,72153,7505.02,72,PR,Yauco Municipio PR,1845,18.025145,-66.860927,1,750502,153
84779,72153,7505.03,72,PR,Yauco Municipio PR,2155,18.025852,-66.87391,1,750503,153
84780,72153,7506.01,72,PR,Yauco Municipio PR,4368,18.018704,-66.84394,1,750601,153
84781,72153,7506.02,72,PR,Yauco Municipio PR,2587,18.006421,-66.860885,1,750602,153

In [18]:
centroids['GEOID'] = (
    centroids['state'].astype(str).str.zfill(2) +
    centroids['formatted_county'] +
    centroids['formatted_tract']
)

/var/folders/mb/f5zh4qyd6sbf171lrlnmff040000gn/T/ipykernel_37716/3079041288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  centroids['GEOID'] = (

In [19]:
centroids

,county,tract,state,stab,CountyName,pop20,IntPtLat,IntPtLon,afact,formatted_tract,formatted_county,GEOID
1,01001,0201.00,01,AL,Autauga AL,1775,32.476823,-86.486599,1,020100,001,01001020100
2,01001,0202.00,01,AL,Autauga AL,2055,32.471897,-86.472591,1,020200,001,01001020200
3,01001,0203.00,01,AL,Autauga AL,3216,32.474583,-86.459254,1,020300,001,01001020300
4,01001,0204.00,01,AL,Autauga AL,4246,32.468656,-86.442995,1,020400,001,01001020400
5,01001,0205.01,01,AL,Autauga AL,4322,32.451532,-86.424422,1,020501,001,01001020501
...,...,...,...,...,...,...,...,...,...,...,...,...
84777,72153,7505.01,72,PR,Yauco Municipio PR,3968,18.030796,-66.868112,1,750501,153,72153750501
84778,72153,7505.02,72,PR,Yauco Municipio PR,1845,18.025145,-66.860927,1,750502,153,72153750502
84779,72153,7505.03,72,PR,Yauco Municipio PR,2155,18.025852,-66.87391,1,750503,153,72153750503
84780,72153,7506.01,72,PR,Yauco Municipio PR,4368,18.018704,-66.84394,1,750601,153,72153750601
84781,72153,7506.02,72,PR,Yauco Municipio PR,2587,18.006421,-66.860885,1,750602,153,72153750602

In [20]:
# Find rows where the GEOID is not 11 characters long
invalid_geoids = centroids[centroids['GEOID'].str.len() != 11]

# Display the problematic rows
invalid_geoids[['state', 'formatted_county', 'formatted_tract', 'GEOID']]

Empty DataFrame
Columns: [state, formatted_county, formatted_tract, GEOID]
Index: []

In [21]:
centroids_filter = centroids[['GEOID','IntPtLat','IntPtLon']]

In [60]:
merged = df_merge.merge(centroids_filter, on='GEOID', how='left')

In [61]:
merged.head()

,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,GEOID_2020,COUNTY_x,StateDesc,STATEABBR,LOCATION,...,fossil_fuels,renewables,energy_category_numeric,Power Plant,Owner,Description,Latitude,Longitude,IntPtLat,IntPtLon
0,10.0,1.0,40100.0,140000US10001040100,10001040100,1.000104e+10,Kent County,Delaware,DE,Census Tract 401; Kent County; Delaware,...,0,1,1.0,NaN,NaN,NaN,NaN,NaN,39.237913,-75.680806
1,10.0,1.0,40201.0,140000US10001040201,10001040201,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.01; Kent County; Delaware,...,0,0,0.0,NaN,NaN,NaN,NaN,NaN,39.29525,-75.626415
2,10.0,1.0,40203.0,140000US10001040203,10001040203,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.03; Kent County; Delaware,...,0,0,0.0,NaN,NaN,NaN,NaN,NaN,39.285731,-75.586928
3,10.0,1.0,40204.0,140000US10001040204,10001040204,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.04; Kent County; Delaware,...,0,1,1.0,NaN,NaN,NaN,NaN,NaN,39.283842,-75.61762
4,10.0,1.0,40204.0,140000US10001040204,10001040204,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.04; Kent County; Delaware,...,1,0,2.0,NaN,NaN,NaN,NaN,NaN,39.283842,-75.61762

In [63]:
merged.shape

(90181, 202)

In [62]:
print(list(merged.columns))

['STATEFP', 'COUNTYFP', 'TRACTCE', 'AFFGEOID', 'GEOID', 'GEOID_2020', 'COUNTY_x', 'StateDesc', 'STATEABBR', 'LOCATION', 'E_TOTPOP', 'M_TOTPOP', 'E_DAYPOP', 'SPL_EJI', 'RPL_EJI', 'SPL_SER', 'RPL_SER', 'SPL_EJI_CBM', 'RPL_EJI_CBM', 'E_MINRTY', 'EPL_MINRTY', 'SPL_SVM_DOM1', 'RPL_SVM_DOM1', 'E_POV200', 'EPL_POV200', 'E_NOHSDP', 'EPL_NOHSDP', 'E_UNEMP', 'EPL_UNEMP', 'E_RENTER', 'EPL_RENTER', 'E_HOUBDN', 'EPL_HOUBDN', 'E_UNINSUR', 'EPL_UNINSUR', 'E_NOINT', 'EPL_NOINT', 'SPL_SVM_DOM2', 'RPL_SVM_DOM2', 'E_AGE65', 'EPL_AGE65', 'E_AGE17', 'EPL_AGE17', 'E_DISABL', 'EPL_DISABL', 'E_LIMENG', 'EPL_LIMENG', 'SPL_SVM_DOM3', 'RPL_SVM_DOM3', 'E_MOBILE', 'EPL_MOBILE', 'E_GROUPQ', 'EPL_GROUPQ', 'SPL_SVM_DOM4', 'RPL_SVM_DOM4', 'SPL_SVM', 'RPL_SVM', 'E_OZONE', 'EPL_OZONE', 'E_PM', 'EPL_PM', 'E_DSLPM', 'EPL_DSLPM', 'E_TOTCR', 'EPL_TOTCR', 'SPL_EBM_DOM1', 'RPL_EBM_DOM1', 'E_NPL', 'EPL_NPL', 'E_TRI', 'EPL_TRI', 'E_TSD', 'EPL_TSD', 'E_RMP', 'EPL_RMP', 'E_COAL', 'EPL_COAL', 'E_LEAD', 'EPL_LEAD', 'SPL_EBM_DOM2', 'RPL_EBM_DOM2', 'E_PARK', 'EPL_PARK', 'E_HOUAGE', 'EPL_HOUAGE', 'E_WLKIND', 'EPL_WLKIND', 'SPL_EBM_DOM3', 'RPL_EBM_DOM3', 'E_RAIL', 'EPL_RAIL', 'E_ROAD', 'EPL_ROAD', 'E_AIRPRT', 'EPL_AIRPRT', 'SPL_EBM_DOM4', 'RPL_EBM_DOM4', 'E_IMPWTR', 'EPL_IMPWTR', 'F_IMPWTR', 'SPL_EBM_DOM5', 'RPL_EBM_DOM5', 'SPL_EBM', 'RPL_EBM', 'E_ASTHMA', 'EPL_ASTHMA', 'F_ASTHMA', 'E_CANCER', 'EPL_CANCER', 'F_CANCER', 'E_CHD', 'EPL_CHD', 'F_CHD', 'E_MHLTH', 'EPL_MHLTH', 'F_MHLTH', 'E_DIABETES', 'EPL_DIABETES', 'F_DIABETES', 'F_HVM', 'RPL_HVM', 'E_NEHD', 'EPL_NEHD', 'SPL_CBM_DOM1', 'RPL_CBM_DOM1', 'E_BURN', 'EPL_BURN', 'E_SMOKE', 'EPL_SMOKE', 'SPL_CBM_DOM2', 'RPL_CBM_DOM2', 'E_CFLD', 'EPL_CFLD', 'F_CFLD', 'E_DRGT', 'EPL_DRGT', 'F_DRGT', 'E_HRCN', 'EPL_HRCN', 'F_HRCN', 'E_RFLD', 'EPL_RFLD', 'F_RFLD', 'E_SWND', 'EPL_SWND', 'F_SWND', 'E_TRND', 'EPL_TRND', 'F_TRND', 'SPL_CBM_DOM3', 'RPL_CBM_DOM3', 'SPL_CBM', 'RPL_CBM', 'AFAM', 'E_AFAM', 'HISP', 'E_HISP', 'ASIAN', 'E_ASIAN', 'AIAN', 'E_AIAN', 'NHPI', 'E_NHPI', 'TWOMORE', 'E_TWOMORE', 'OTHERRACE', 'E_OTHERRACE', 'Tribe_PCT_Tract', 'Tribe_Names', 'Tribe_Flag', 'Unnamed: 0.1', 'Unnamed: 0', 'plant_name', 'Plant Code', 'State', 'Sector Name', 'Prime Movers', 'Fuel Types', 'Primary Technology', 'withdrawal_volume_million_gallons', 'discharge_volume_million_gallons', 'consumption_volume_million_gallons', 'energy_category', 'map_link', 'longitude', 'latitude', 'STATE', 'COUNTY_y', 'TRACT', 'contains_energy_source', 'Technology_Category', 'Category_Number', 'fossil_fuels', 'renewables', 'energy_category_numeric', 'Power Plant', 'Owner', 'Description', 'Latitude', 'Longitude', 'IntPtLat', 'IntPtLon']

In [64]:
merged['proposed_location'] = merged['Power Plant'].notna().astype(int)

In [65]:
merged['proposed_location'].value_counts()

proposed_location
0    90121
1       60
Name: count, dtype: int64

In [67]:
tracts = merged[['GEOID', 'IntPtLat', 'IntPtLon', 'Category_Number']].copy()

In [69]:
natural_gas = merged[merged['Category_Number'] == 2][['latitude', 'longitude']]

In [28]:
from scipy.spatial import cKDTree
import numpy as np

In [70]:
from scipy.spatial import cKDTree

# Step 1: Initialize Band column
tracts['Band'] = 0

# Step 2: Assign Band 1 to host tracts
tracts.loc[tracts['Category_Number'] == 2, 'Band'] = 1

# Step 3: Build KDTree from plant locations
plant_coords = natural_gas[['latitude', 'longitude']].to_numpy()
tree = cKDTree(plant_coords)

# Step 4: Filter non-host tracts with valid coordinates
mask_non_host = tracts['Band'] == 0
valid_coords = tracts['IntPtLat'].notna() & tracts['IntPtLon'].notna()
tract_coords = tracts.loc[mask_non_host & valid_coords, ['IntPtLat', 'IntPtLon']].to_numpy()

# Step 5: Compute distance to nearest plant
distances, _ = tree.query(tract_coords, k=1)
distances_km = distances * 111

# Step 6: Store distances temporarily
tracts.loc[mask_non_host & valid_coords, 'distance_to_plant'] = distances_km

# Step 7: Assign bands based on distance
tracts.loc[mask_non_host & (tracts['distance_to_plant'] <= 1), 'Band'] = 1  # Near-host tracts
tracts.loc[mask_non_host & (tracts['distance_to_plant'] > 1) & (tracts['distance_to_plant'] <= 5), 'Band'] = 2
tracts.loc[mask_non_host & (tracts['distance_to_plant'] > 5) & (tracts['distance_to_plant'] <= 10), 'Band'] = 3
tracts.loc[mask_non_host & (tracts['distance_to_plant'] > 10) & (tracts['distance_to_plant'] <= 20), 'Band'] = 4

# Optional: clean up
# tracts.drop(columns='distance_to_plant', inplace=True)

In [71]:
# Check the first few rows to ensure bands are assigned
tracts[['GEOID', 'Band']]

             GEOID  Band
0      10001040100     3
1      10001040201     2
2      10001040203     2
3      10001040204     1
4      10001040204     1
...            ...   ...
90176  09190257100     0
90177  09190425700     0
90178          NaN     0
90179          NaN     0
90180          NaN     0

[90181 rows x 2 columns]

In [72]:
tracts['Band'].value_counts().reset_index().sort_values(by='Band')

   Band  count
0     0  43032
4     1   2045
3     2  12150
2     3  14817
1     4  18137

In [74]:
tracts

,GEOID,IntPtLat,IntPtLon,Category_Number,Band,distance_to_plant
0,10001040100,39.237913,-75.680806,1,3,7.800062
1,10001040201,39.29525,-75.626415,0,2,1.805115
2,10001040203,39.285731,-75.586928,0,2,4.170896
3,10001040204,39.283842,-75.61762,1,1,0.870727
4,10001040204,39.283842,-75.61762,2,1,NaN
...,...,...,...,...,...,...
90176,09190257100,NaN,NaN,0,0,NaN
90177,09190425700,NaN,NaN,0,0,NaN
90178,NaN,NaN,NaN,4,0,NaN
90179,NaN,NaN,NaN,3,0,NaN
90180,NaN,NaN,NaN,1,0,NaN

In [76]:
# Drop any old Band or distance columns to avoid duplication
merged = merged.drop(columns=['Band', 'distance_to_plant'], errors='ignore')

In [77]:
# Merge Band and distance info from tracts based on GEOID
bands = merged.merge(
    tracts[['GEOID', 'Band', 'distance_to_plant']],
    on='GEOID',
    how='left'
)

In [78]:
bands

,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,GEOID_2020,COUNTY_x,StateDesc,STATEABBR,LOCATION,...,Power Plant,Owner,Description,Latitude,Longitude,IntPtLat,IntPtLon,proposed_location,Band,distance_to_plant
0,10.0,1.0,40100.0,140000US10001040100,10001040100,1.000104e+10,Kent County,Delaware,DE,Census Tract 401; Kent County; Delaware,...,NaN,NaN,NaN,NaN,NaN,39.237913,-75.680806,0,3,7.800062
1,10.0,1.0,40201.0,140000US10001040201,10001040201,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.01; Kent County; Delaware,...,NaN,NaN,NaN,NaN,NaN,39.29525,-75.626415,0,2,1.805115
2,10.0,1.0,40203.0,140000US10001040203,10001040203,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.03; Kent County; Delaware,...,NaN,NaN,NaN,NaN,NaN,39.285731,-75.586928,0,2,4.170896
3,10.0,1.0,40204.0,140000US10001040204,10001040204,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.04; Kent County; Delaware,...,NaN,NaN,NaN,NaN,NaN,39.283842,-75.61762,0,1,0.870727
4,10.0,1.0,40204.0,140000US10001040204,10001040204,1.000104e+10,Kent County,Delaware,DE,Census Tract 402.04; Kent County; Delaware,...,NaN,NaN,NaN,NaN,NaN,39.283842,-75.61762,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
117107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
117108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
117109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
117110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN

In [79]:
bands.to_csv('eji_plants_and_proposed_with_bands.csv',index=False)

Band 1 is for tracts that host power plants or those whose distance from the tract's centroid to the closest power plant facility is greater than up to 1km.
Band 2 will be for tracts that do not host power plants but whose distance from the tract's centroid to the closest power plant facility is greater than 1 km and up to 5km.
Band 3 is for tracts that do not host power plants but whose distance from the tract's centroid to the closest power plant facility is greater than 5 km and up to 10 km.
Band 4 is for tracts that do not host power plants but whose distance from the tract's centroid to the closest power plant facility is greater than 10 km and up to 20 km.