In [47]:
import pandas as pd

In [48]:
df_plants = pd.read_csv('plants.csv')

In [49]:
df_water = pd.read_csv('water_usage.csv')

In [50]:
df_plants.head()

,Plant Name,Plant Code,State,Sector Name,Prime Movers,Fuel Types,Primary Technology
0,(3K) 59 Hetcheltown Rd,66729,NY,IPP Non-CHP,PV,SUN,Solar Photovoltaic
1,0 Hammond St CSG,64876,MA,IPP Non-CHP,"BA, PV","MWH, SUN",Multiple
2,1 Commercial,67464,MA,IPP Non-CHP,"BA, PV","MWH, SUN",Multiple
3,"10 Briggs Solar NG, LLC (East)",62781,RI,IPP Non-CHP,PV,SUN,Solar Photovoltaic
4,"10 Finderne Avenue Solar, LLC",64023,NJ,IPP Non-CHP,PV,SUN,Solar Photovoltaic

In [51]:
df_plants.shape

(12720, 7)

In [52]:
df_water.head()

,plant_name,withdrawal_volume_million_gallons,discharge_volume_million_gallons,consumption_volume_million_gallons
0,AES Alamitos Energy Center,--,--,--
1,AES Alamitos LLC,94464,94464,0
2,AES Huntington Beach Energy Project,--,--,--
3,AES Huntington Beach LLC,25818,25818,0
4,AES Petersburg,36421,33550,2872

In [53]:
df_plants.rename(columns={'Plant Name': 'plant_name'}, inplace=True)

In [54]:
df = pd.merge(df_plants, df_water, on='plant_name', how='left')

In [55]:
df['Natural Gas'] = df['Primary Technology'].apply(lambda x: 'Natural Gas' if 'Natural Gas' in x else 'Other')

In [56]:
natural_gas = df[df['Natural Gas'] == 'Natural Gas']

In [57]:
natural_gas.head()

,plant_name,Plant Code,State,Sector Name,Prime Movers,Fuel Types,Primary Technology,withdrawal_volume_million_gallons,discharge_volume_million_gallons,consumption_volume_million_gallons,Natural Gas
67,491 E 48th Street,7268,MI,Electric Utility,GT,NG,Natural Gas Fired Combustion Turbine,NaN,NaN,NaN,Natural Gas
76,59th Street,2503,NY,Electric Utility,GT,NG,Natural Gas Fired Combustion Turbine,NaN,NaN,NaN,Natural Gas
97,A B Brown,6137,IN,Electric Utility,GT,NG,Natural Gas Fired Combustion Turbine,NaN,NaN,NaN,Natural Gas
99,A L Pierce,6635,CT,Electric Utility,GT,NG,Natural Gas Fired Combustion Turbine,NaN,NaN,NaN,Natural Gas
102,A.J. Mihm Generating Station,61391,MI,Electric Utility,IC,NG,Natural Gas Internal Combustion Engine,NaN,NaN,NaN,Natural Gas

In [58]:
natural_gas[natural_gas['withdrawal_volume_million_gallons'].notna()]

,plant_name,Plant Code,State,Sector Name,Prime Movers,Fuel Types,Primary Technology,withdrawal_volume_million_gallons,discharge_volume_million_gallons,consumption_volume_million_gallons,Natural Gas
123,AES Alamitos Energy Center,62115,CA,IPP Non-CHP,"CA, CT",NG,Natural Gas Fired Combined Cycle,--,--,--,Natural Gas
124,AES Alamitos LLC,315,CA,IPP Non-CHP,ST,NG,Natural Gas Steam Turbine,94464,94464,0,Natural Gas
130,AES Huntington Beach Energy Project,62116,CA,IPP Non-CHP,"CA, CT",NG,Natural Gas Fired Combined Cycle,--,--,--,Natural Gas
131,AES Huntington Beach LLC,335,CA,IPP Non-CHP,ST,NG,Natural Gas Steam Turbine,25818,25818,0,Natural Gas
156,ANP Bellingham Energy Project,55211,MA,IPP Non-CHP,CS,NG,Natural Gas Fired Combined Cycle,--,--,--,Natural Gas
...,...,...,...,...,...,...,...,...,...,...,...
12566,Wolf Hollow II,59812,TX,IPP Non-CHP,"CA, CT",NG,Natural Gas Fired Combined Cycle,--,--,--,Natural Gas
12587,Woodbridge Energy Center,57839,NJ,IPP Non-CHP,"CA, CT",NG,Natural Gas Fired Combined Cycle,806,117,689,Natural Gas
12669,Yates,728,GA,Electric Utility,ST,NG,Natural Gas Steam Turbine,10685,3484,7192,Natural Gas
12687,York Energy Center,55524,PA,IPP Non-CHP,"CA, CT",NG,Natural Gas Fired Combined Cycle,2543,545,1997,Natural Gas
12711,Zeltmann,56196,NY,Electric Utility,"CA, CT",NG,Natural Gas Fired Combined Cycle,--,--,--,Natural Gas

In [59]:
import numpy as np

In [60]:
natural_gas['withdrawal_volume_million_gallons'] = natural_gas['withdrawal_volume_million_gallons'].replace('--', np.nan)

/var/folders/mb/f5zh4qyd6sbf171lrlnmff040000gn/T/ipykernel_13152/338013324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  natural_gas['withdrawal_volume_million_gallons'] = natural_gas['withdrawal_volume_million_gallons'].replace('--', np.nan)

In [61]:
natural_gas[natural_gas['withdrawal_volume_million_gallons'].notna()]

,plant_name,Plant Code,State,Sector Name,Prime Movers,Fuel Types,Primary Technology,withdrawal_volume_million_gallons,discharge_volume_million_gallons,consumption_volume_million_gallons,Natural Gas
124,AES Alamitos LLC,315,CA,IPP Non-CHP,ST,NG,Natural Gas Steam Turbine,94464,94464,0,Natural Gas
131,AES Huntington Beach LLC,335,CA,IPP Non-CHP,ST,NG,Natural Gas Steam Turbine,25818,25818,0,Natural Gas
200,Acadia Energy Center,55173,LA,Electric Utility,"CA, CT",NG,Natural Gas Fired Combined Cycle,2343,475,1868,Natural Gas
253,Afton Generating Station,55210,NM,Electric Utility,"CA, CT",NG,Natural Gas Fired Combined Cycle,102,--,102,Natural Gas
330,Allegheny Energy Units 3 4 & 5,55710,PA,IPP Non-CHP,"CA, CT",NG,Natural Gas Fired Combined Cycle,913,147,766,Natural Gas
...,...,...,...,...,...,...,...,...,...,...,...
12555,Wise County Power LLC,55320,TX,IPP Non-CHP,"CA, CT",NG,Natural Gas Fired Combined Cycle,608,--,608,Natural Gas
12565,Wolf Hollow I LP,55139,TX,IPP Non-CHP,"CA, CT",NG,Natural Gas Fired Combined Cycle,727,150,578,Natural Gas
12587,Woodbridge Energy Center,57839,NJ,IPP Non-CHP,"CA, CT",NG,Natural Gas Fired Combined Cycle,806,117,689,Natural Gas
12669,Yates,728,GA,Electric Utility,ST,NG,Natural Gas Steam Turbine,10685,3484,7192,Natural Gas
12687,York Energy Center,55524,PA,IPP Non-CHP,"CA, CT",NG,Natural Gas Fired Combined Cycle,2543,545,1997,Natural Gas

In [62]:
natural_gas['discharge_volume_million_gallons'] = natural_gas['discharge_volume_million_gallons'].replace('--', np.nan)

/var/folders/mb/f5zh4qyd6sbf171lrlnmff040000gn/T/ipykernel_13152/100039224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  natural_gas['discharge_volume_million_gallons'] = natural_gas['discharge_volume_million_gallons'].replace('--', np.nan)

In [63]:
natural_gas['consumption_volume_million_gallons'] = natural_gas['consumption_volume_million_gallons'].replace('--', np.nan)

/var/folders/mb/f5zh4qyd6sbf171lrlnmff040000gn/T/ipykernel_13152/1479938255.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  natural_gas['consumption_volume_million_gallons'] = natural_gas['consumption_volume_million_gallons'].replace('--', np.nan)

In [64]:
water_sources = pd.read_csv('water_sources.csv')

In [65]:
water_sources.head()

,Plant Name,Water Source,Water Type,Source Name,Discharge Name
0,AES Alamitos Energy Center,NaN,NaN,NaN,NaN
1,Cooling system ACC1Z,--,--,--,--
2,AES Alamitos LLC,NaN,NaN,NaN,NaN
3,Cooling system 3,Surface,Saline,Los Cerritos Channel,San Gabriel River
4,Cooling system 4,Surface,Saline,Los Cerritos Channel,San Gabriel River

In [66]:
water_sources['plant_name'] = water_sources['Plant Name']

In [67]:
water_sources = water_sources.drop(columns='Plant Name')

In [68]:
natural_gas = pd.merge(natural_gas, water_sources, on='plant_name', how='left')

In [69]:
natural_gas.head()

,plant_name,Plant Code,State,Sector Name,Prime Movers,Fuel Types,Primary Technology,withdrawal_volume_million_gallons,discharge_volume_million_gallons,consumption_volume_million_gallons,Natural Gas,Water Source,Water Type,Source Name,Discharge Name
0,491 E 48th Street,7268,MI,Electric Utility,GT,NG,Natural Gas Fired Combustion Turbine,NaN,NaN,NaN,Natural Gas,NaN,NaN,NaN,NaN
1,59th Street,2503,NY,Electric Utility,GT,NG,Natural Gas Fired Combustion Turbine,NaN,NaN,NaN,Natural Gas,NaN,NaN,NaN,NaN
2,A B Brown,6137,IN,Electric Utility,GT,NG,Natural Gas Fired Combustion Turbine,NaN,NaN,NaN,Natural Gas,NaN,NaN,NaN,NaN
3,A L Pierce,6635,CT,Electric Utility,GT,NG,Natural Gas Fired Combustion Turbine,NaN,NaN,NaN,Natural Gas,NaN,NaN,NaN,NaN
4,A.J. Mihm Generating Station,61391,MI,Electric Utility,IC,NG,Natural Gas Internal Combustion Engine,NaN,NaN,NaN,Natural Gas,NaN,NaN,NaN,NaN

In [78]:
len(natural_gas[natural_gas['withdrawal_volume_million_gallons'].notna()])

288

In [80]:
natural_gas[natural_gas['withdrawal_volume_million_gallons'].notna()].groupby('State')['withdrawal_volume_million_gallons'].count()

State
AL     8
AR     7
AZ    12
CA    20
CO     2
CT     3
DE     2
FL    14
GA     8
IA     3
ID     2
IL     4
IN     7
KS     1
KY     2
LA    14
MA     3
MD     2
ME     2
MI     3
MN     6
MO     2
MS     8
NC     5
ND     1
NE     1
NH     3
NJ     5
NM     3
NV     1
NY     6
OH     8
OK     9
OR     6
PA    18
RI     2
SC     4
TN     1
TX    62
UT     1
VA     6
WA     5
WI     5
WV     1
Name: withdrawal_volume_million_gallons, dtype: int64

In [73]:
natural_gas['Water Source'].value_counts()

Series([], Name: count, dtype: int64)

In [71]:
natural_gas.to_csv('natural_gas.csv', index=False)